permissions:
  contents: read
  checks: write

on:
  push:
    branches:
      - main
      - dev/*
      - feature/*
    paths:
      - "**.c"
      - "**.h"
      - CMakeLists.txt
      - .github/workflows/ci.yml
      - .trunk/trunk.yaml
  pull_request:
    branches:
      - main
      - dev/*
    paths:
      - "**.c"
      - "**.h"
      - CMakeLists.txt
      - .github/workflows/ci.yml
      - .trunk/trunk.yaml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update -y
          sudo apt-get purge -y man-db
          sudo apt-get install -y ninja-build meson libcriterion-dev
          export MESON_VERSION=$(curl -s "https://api.github.com/repos/mesonbuild/meson/releases/latest" | grep -Po '"tag_name": "\K[0-9.]+' )
          wget -qO meson.tar.gz https://github.com/mesonbuild/meson/releases/latest/download/meson-${MESON_VERSION}.tar.gz
          sudo mkdir /opt/meson
          sudo tar xf meson.tar.gz --strip-components=1 -C /opt/meson
          sudo mv /opt/meson/meson.py /opt/meson/meson
          sudo ln -s /opt/meson/meson /usr/local/bin/meson

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install meson ninja criterion pkg-config
          echo "PKG_CONFIG_PATH=$(brew --prefix)/lib/pkgconfig:$(brew --prefix)/opt/criterion/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV

      - name: Set up CMake
        uses: lukka/get-cmake@latest

      - name: Generate Compilation Database
        run: |
          mkdir build
          cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DBUILD_TESTING=ON
          cp build/compile_commands.json .

      - name: Trunk Code Quality
        uses: trunk-io/trunk-action@v1

  build:
    needs:
      - lint
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ci-${{ matrix.os }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v5

      - name: Set up CMake
        uses: lukka/get-cmake@latest

      - name: Install dependencies (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update -y
          sudo apt-get purge -y man-db
          sudo apt-get install -y ninja-build meson libcriterion-dev

          export MESON_VERSION=$(curl -s "https://api.github.com/repos/mesonbuild/meson/releases/latest" | grep -Po '"tag_name": "\K[0-9.]+')
          wget -qO meson.tar.gz https://github.com/mesonbuild/meson/releases/latest/download/meson-${MESON_VERSION}.tar.gz
          sudo mkdir /opt/meson
          sudo tar xf meson.tar.gz --strip-components=1 -C /opt/meson
          sudo mv /opt/meson/meson.py /opt/meson/meson
          sudo ln -s /opt/meson/meson /usr/local/bin/meson

      - name: Install dependencies (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          brew install meson ninja criterion pkg-config
          echo "PKG_CONFIG_PATH=$(brew --prefix)/lib/pkgconfig:$(brew --prefix)/opt/criterion/lib/pkgconfig:$PKG_CONFIG_PATH" >> $GITHUB_ENV

      - name: Configure CMake
        run: |
          mkdir build
          cmake -S . -B build -G Ninja -DBUILD_TESTING=ON

      - name: Build (Linux / macOS)
        run: cmake --build build

      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure  --output-junit test-results.xml

      - name: Upload Test Results
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/test-results.xml
          report_type: test_results

  codecov:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up CMake
        uses: lukka/get-cmake@latest

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get purge -y man-db
          sudo apt-get install -y ninja-build meson libcriterion-dev

          export MESON_VERSION=$(curl -s "https://api.github.com/repos/mesonbuild/meson/releases/latest" | grep -Po '"tag_name": "\K[0-9.]+')
          wget -qO meson.tar.gz https://github.com/mesonbuild/meson/releases/latest/download/meson-${MESON_VERSION}.tar.gz
          sudo mkdir /opt/meson
          sudo tar xf meson.tar.gz --strip-components=1 -C /opt/meson
          sudo mv /opt/meson/meson.py /opt/meson/meson
          sudo ln -s /opt/meson/meson /usr/local/bin/meson

      - name: Configure CMake
        run: |
          mkdir build
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCODE_COVERAGE=ON -G Ninja

      - name: Build
        run: cmake --build build

      - name: Install lcov
        run: |
          sudo apt-get update -y
          sudo apt-get install -y lcov

      - name: Generate Coverage Data
        run: |
          cd build
          ctest --output-on-failure
          geninfo . --output-filename coverage.info --ignore-errors mismatch --memory 0
          lcov --ignore-errors unused --remove coverage.info '/usr/*' '*/tests/*' --output-file coverage.info
          lcov --list coverage.info || true

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          # For private repositories you must provide a CODECOV_TOKEN in repository secrets.
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/coverage.info
          flags: unittests
