name: Github Page Deployment
on:
  push:
    branches:
      - main
    paths:
      - src/**
      - include/**
      - .github/workflows/docs.yml

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up CMake
        uses: lukka/get-cmake@latest

      - name: Build Documentation
        run: |
          mkdir build
          cmake -S . -B build
          cmake --build build --target doc_doxygen

      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: build/doxygen/html/
